.main_wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}
.headerPanel{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}
.editPanel {
    width: 20%;
    height: 100%;
    border-right: 1.5px solid #f3f3f3;
    background-color: #ffff;
    position: fixed;
    z-index: 1;
    top: 49px;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

.previewBoard {
    width: 80%;
    height: 100%;
    margin-left: auto;
    padding-top: 49px;
}
.preview {
    width: 100%;
    height: 100vh;
}


