* {
  box-sizing: border-box;
}

.main {
  display: flex;
}

.editor {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.edit_field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.preview {
  width: 70%;
  margin-left: 25%;
}

.preview .add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hm_section {
  padding: 10px 5px;
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
  margin: 50px 0px;
}

.container {
  padding: 10px 5px;
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
  min-height: 215px;
}

.hm_row{
  padding: 10px 5px;
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
  min-height: 193px;
}
.hm_col_3 {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
  width: 33.3%;
  min-height: 113px;

}

.hm_col_3:hover {
  outline: 1.7px solid orangered;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hm_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hm_col-3 {
  width: 375px;
}


@media screen and (max-width:425px) {
.hm_col_3 {
  border: 2px dashed rgb(152, 150, 150);
}  
}