* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.editor {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.edit_field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.preview {
  width: 70%;
  margin-left: 25%;
}

.preview .add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-1 {
  width: 100%;
  min-height: 100px;
}

.col-2 {
  width: 50%;
  min-height: 100px;
}

.col-3 {
  width: 25%;
  min-height: 100px;
}

.col-4 {
  width: 25%;
  min-height: 100px;
}

.col-6 {
  width: 17%;
  min-height: 100px;
}

img {
  width: 100%;
  height: auto;
}

#body section,
#body div {
  min-height: 150px;
  padding: 30px 10px;
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
}

#body h1:hover,
#body p:hover,
#body button:hover,
#body section:hover,
#body div:hover,
#body img:hover {
  outline: 1.8px solid rgba(0, 183, 255, 0.77);
  outline-offset: -2px;
  cursor: pointer;
}